.header-logo {
  position: relative;
  padding-left: 2rem;
  .name {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0.4rem;
    border-bottom: 1px solid $border-color;
    padding: 0.2rem;
    text-align: center;
  }

  .surname {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.2rem;
  }

  &:hover {
    filter: saturate(0.1);
  }

  &::before {
    position: absolute;
    left: 0;
    top: calc(50% - 1.6rem);
    content: "\f246";
    font-family: FontAwesome, sans-serif;
    font-size: 2.7rem;
    font-weight: 100;
    animation: blink 1.5s step-end infinite;
    color: $border-color;
    -webkit-text-stroke: 1px #212529;
  }

  @keyframes blink {
    from,
    to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
