.hexlet {
    display: inline-block;
    width: 17.16px;
    height: 20px;
    background-image: url(../../img/icons/hexlet-green.svg);
    background-size: contain;
    background-repeat: no-repeat;
}