.tools-container {
  @media (max-width: 768px) {
    height: 250px;
    margin-top: 150px;
  }
}

.tool-img {
  position: absolute;
}

.pug-img {
  top: 160px;
  left: 25%;

  width: 100px;
}

.html-img {
  top: -100px;
  left: calc(50% - 40px);

  width: 80px;
}

.css-img {
  top: -50px;
  left: calc(25% - 40px);

  width: 80px;
}

.js-img {
  top: -50px;
  left: calc(75% - 40px);

  width: 80px;
}

.react-img {
  top: 40px;
  left: calc(50% - 50px);

  width: 100px;
}

.sass-img {
  top: 80px;
  left: calc(25% - 50px);

  width: 100px;
}

.bootstrap-img {
  top: 90px;
  left: calc(75% - 50px);

  width: 100px;
}

.gulp-img {
  top: 100px;
  left: 45%;

  width: 100px;
}
