$nav-tabs-link-active-bg: #212529;
$nav-tabs-border-color: #a6e9d5;
$nav-tabs-link-hover-border-color: transparent;
$nav-link-color: #f8f9fa;
$nav-tabs-link-active-color: #a6e9d5;
$nav-tabs-link-active-border-color: #a6e9d5 #a6e9d5 $nav-tabs-link-active-bg;
$border-color: #a6e9d5;
