$theme-colors: map-merge(
    $theme-colors,
    (
        "custom": $teal-200,
    )  
);

$display-font-sizes: map-merge(
    $display-font-sizes,
    (
        7: 7rem,
    )  
);

$font-family-serif: "Times New Roman", Times, serif;